--- layout: page 
title: About 
permalink: /About
---
<md-content class="md-padding">
    <md-tabs md-center-tabs md-dynamic-height md-border-bottom md-stretch-tabs="always">
        <md-tab class="abouttabs">
            <md-tab-label> About me </md-tab-label>
            <md-tab-body>
                {% include AboutMe.md %}
            </md-tab-body>
        </md-tab>
        <md-tab>
            <md-tab-label> About This Page </md-tab-label>
            <md-tab-body>
                {% include AboutPage.md %}
            </md-tab-body>
        </md-tab>
    </md-tabs>
</md-content>