--- 
layout: default
---
<md-divider></md-divider>
<div layout="row" layout-xs="column">
  <div flex="66" flex-xs="100" layout-fill class="slideshowFrame">
    {% include slideshow.html %}
  </div>
  <md-divider></md-divider>
  <div flex="auto" flex-xs="100" md-whiteframe="1">   
    <h3>Magical things heppen in here!</h3>
    <br/>
     {{site.time | date_to_rfc822}}
    screenSize<p ng-bind="screenSize"></p>  
    buttonSidenav<p ng-bind="buttonSidenav"></p>
    domainname<p ng-bind="domainname"></p>  
  </div>
</div>
<md-divider></md-divider>
<!--This is posts render-->
<md-content md-whiteframe="1">
  <md-card>
    My blog
    <md-card-content>
      <div class="home">
        <ul class="post-list">
          {% for post in paginator.posts %}
          <li>
            <span class="post-meta">{{ post.date | date_to_long_string }} • {{ post.author }} • <a href="{{ site.baseurl }}{{ post.url }}#disqus_thread">0 Comments</a></span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h2>
            <p>
              {{ post.content | truncatewords:43 }}
            </p>
            <md-card-actions layout="row" layout-align="end center">
              <a href="{{ post.url | prepend: site.baseurl }}">see more ...</a>
            </md-card-actions>
            <md-divider></md-divider>
          </li>
          {% endfor %}
        </ul>
    </md-card-content>
  </md-card>
</md-content>
{% include pagination.html %}
</div>