--- 
layout: default
---
<md-divider></md-divider>
<div layout="row" layout-xs="column">
  <div flex="66" flex-xs="100" layout-fill class="slideshowFrame">
    {% include slideshow.html %}
  </div>
  <md-divider></md-divider>
  <div flex="auto" flex-xs="100" md-whiteframe="1">
    <p ng-bind='domainname'></p>
    <p> This page also hosting on: </p>
    <div ng-if="domainname === 'localhost'">
      <div ng-bind="hostData[0].provider"></div>
      <a href={{ site.data.hosting.hostProviders[0].fulllink }} ng-bind="hostData[0].fulllink" target="_blank" alt='GitHub'></a>
      <div ng-bind="hostData[1].provider"></div>
      <a href={{ site.data.hosting.hostProviders[1].fulllink }} ng-bind="hostData[1].fulllink" target="_blank" alt='Azure'></a>
      <div ng-bind="hostData[2].provider"></div>
      <a href={{ site.data.hosting.hostProviders[2].fulllink }} ng-bind="hostData[2].fulllink" target="_blank" alt='AWS'></a>
    </div>
    <div ng-if="domainname === 'azure'">
      <div ng-bind="hostData[0].provider"></div>
      <a href={{ site.data.hosting.hostProviders[0].fulllink }} ng-bind="hostData[0].fulllink" target="_blank" alt='GitHub'></a>
      <div ng-bind="hostData[2].provider"></div>
      <a href={{ site.data.hosting.hostProviders[2].fulllink }} ng-bind="hostData[2].fulllink" target="_blank" alt='AWS'></a>
    </div>
    <div ng-if="domainname === 'aws'">
      <div ng-bind="hostData[0].provider"></div>
      <a href={{ site.data.hosting.hostProviders[0].fulllink }} ng-bind="hostData[0].fulllink" target="_blank" alt='GitHub'></a>
      <div ng-bind="hostData[1].provider"></div>
      <a href={{ site.data.hosting.hostProviders[1].fulllink }} ng-bind="hostData[1].fulllink" target="_blank" alt='Azure'></a>      
    </div>
    <h3>Magical things coming soon here</h3>
  </div>
</div>
<md-divider></md-divider>
<!--This is posts render-->
<md-content md-whiteframe="1">
  <md-card>
    My blog
    <md-card-content>
      <div class="home">
        <ul class="post-list">
          {% for post in paginator.posts %}
          <li>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} • {{ post.author }} • <a href="https://tom031.github.io{{ post.url }}#disqus_thread">0 Comments</a></span>
            <h2>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </h2>
            <p>
              {{ post.content | truncatewords:43 }}
            </p>
            <md-card-actions layout="row" layout-align="end center">
              <a href="{{ post.url | prepend: site.baseurl }}">see more ...</a>
            </md-card-actions>
            <md-divider></md-divider>
          </li>
          {% endfor %}
        </ul>
    </md-card-content>
  </md-card>
</md-content>
{% include pagination.html %}
</div>