<!--include in post layouts-->

{% if site.disqus %}
<div class="comments">
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		//var getProtocol = document.location.protocol;
		//var getDomain = document.domain;	
		var disqus_shortname = '{{ site.disqus }}';
		var disqus_config = function () {
			this.page.identifier = '{{ page.id }}';
			this.page.title = '{{ page.title }}';
			//var getProtocol = document.location.protocol;
			//var getDomain = document.domain;			
			//this.page.url = getProtocol + '//' + getDomain + '{{ page.url }}';
			//console.log(this.page.url);
		};
		(function () {
			var d = document, dsq = d.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			dsq.setAttribute('data-timestamp', +new Date());
			(d.head || d.body).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</div>
{% endif %}