<header>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <a href="{{site.linkedin}}">
                <md-button aria-label="Logo">
                    <img src="{{ site.avatar }}"></img>
                </md-button>
            </a>
            <h2>
                  <a href="/"><span>{{site.title}}</span></a>
            </h2>
            <span flex></span><!-- this for push the menu button to the right-->
            <md-button id="toggleSidenav" ng-click="isShowRightContent = !isShowRightContent" class="md-icon-button" aria-label="Menu">
                <ng-md-icon icon="swap_horiz" style="fill:#abcdef" size="30"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
</header>
