<header>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button aria-label="Logo">
                Logo
            </md-button>
            <h2>
                <span>{{site.title}}</span>
            </h2>
            <span flex></span>
            <md-button id="toggleSidenav" ng-click="isShowRightContent = !isShowRightContent"
              class="md-icon-button" aria-label="Favorite">
                <ng-md-icon icon="menu" style="fill:#abcdef" size="30"></ng-md-icon> 
            </md-button>
        </div>
    </md-toolbar>
</header>
