<!--Include in rightSideNav.html -->
<!-- to do next Make it loop and consume hosting.json -->
<h3> This page also hosting on: </h3>
    <div ng-show="domainname == 'localhost'" ng-hide="domainname !='localhost'">
      <div>{{ site.data.hosting.hostProviders[0].provider }}</div>
      <a href="{{ site.data.hosting.hostProviders[0].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[0].hostlink }}</a>
      <div>{{ site.data.hosting.hostProviders[1].provider }}</div>
      <a href="{{ site.data.hosting.hostProviders[1].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[1].hostlink }}</a>
      <div>{{site.data.hosting.hostProviders[2].provider}}</div>
      <a href="{{ site.data.hosting.hostProviders[2].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[2].hostlink }}</a>
    </div>
    <div ng-show="domainname == 'azure'" ng-hide="domainname !='azure'">
       <div>{{ site.data.hosting.hostProviders[0].provider }}</div>
      <a href="{{ site.data.hosting.hostProviders[0].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[0].hostlink }}</a>
      <div>{{site.data.hosting.hostProviders[2].provider}}</div>
      <a href="{{ site.data.hosting.hostProviders[2].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[2].hostlink }}</a>
    </div>
    <div ng-show="domainname == 'aws'" ng-hide="domainname !='aws'">
      <div>{{ site.data.hosting.hostProviders[0].provider }}</div>
      <a href="{{ site.data.hosting.hostProviders[0].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[0].hostlink }}</a>
      <div>{{ site.data.hosting.hostProviders[1].provider }}</div>
      <a href="{{ site.data.hosting.hostProviders[1].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[1].hostlink }}</a>
    </div>
    <div ng-show="domainname == 'github'" ng-hide="domainname !='github'">
      <div>{{ site.data.hosting.hostProviders[1].provider }}</div>
      <a href="{{ site.data.hosting.hostProviders[1].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[1].hostlink }}</a>
      <div>{{site.data.hosting.hostProviders[2].provider}}</div>
      <a href="{{ site.data.hosting.hostProviders[2].fulllink }}" target="_blank">{{ site.data.hosting.hostProviders[2].hostlink }}</a>      
    </div>