<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right"
            md-is-locked-open="$mdMedia('gt-sm')"
             ng-show="!isShowRightContent">
    <md-list>
      <a href="/about"><md-list-item class="md-3-line" ng-click="null">
        <h3>About</h3>
      </md-list-item></a>
      <md-divider ></md-divider>
      <md-list-item class="md-3-line" ng-click="null">
          <h3>Blog link address</h3>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item class="md-3-line" ng-click="null">
          <h3>  Contact page</h3>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list >
    <span flex></span>
    <h4 class="description" style=" float: right">{{site.description}}</h3>
</md-sidenav>
