<md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right"
            md-is-locked-open="$mdMedia('gt-sm')"
             ng-show="!isShowRightContent">
    <md-list flex ="">
      <md-list-item class="md-3-line" ng-click="null">
          <h3>About</h3>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item class="md-3-line" ng-click="null">
          <h3>Blog link address</h3>
      </md-list-item>
      <md-divider ></md-divider>
      <md-list-item class="md-3-line" ng-click="null">
          <h3>  Contact page</h3>
      </md-list-item>
      <md-divider ></md-divider>
    </md-list >
</md-sidenav>
