<!--Included in index.html-->
<md-tabs class='slideshow' tabs-autoplay="5000" md-align-tabs="bottom" md-center-tabs=true md-autoselect=true md-dynamic-height=false>
  {% for image in site.static_files %}
      {% if image.path contains 'pictures/slideshowPics/' %}
        <md-tab md-no-select-click=true>
        <md-tab-label>•</md-tab-label>
          <md-tab-body>
              <img class="slideshowPics" src="{{ site.baseurl }}{{ image.path }}" alt="image" />
          </md-tab-body>
        </md-tab>
      {% endif %}
  {% endfor %}
</md-tabs>
