<md-tabs ng-init="1" tabs-autoplay="3000" md-align-tabs="bottom" md-center-tabs="true" md-autoselect="true" md-dynamic-height="false">
    <md-tab>
        <md-tab-label>1</md-tab-label>
        <md-tab-body>
            <img class="slideshowPics" src="{{site.data.slideshowPics.1.path}}" alt="" />
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>2</md-tab-label>
        <md-tab-body>
            <img class="slideshowPics" src="{{site.data.slideshowPics.2.path}}" alt="" />
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>3</md-tab-label>
        <md-tab-body>
            <img class="slideshowPics" src="{{site.data.slideshowPics.3.path}}" alt="" />
        </md-tab-body>
    </md-tab>
    <md-tab>
        <md-tab-label>4</md-tab-label>
        <md-tab-body>
            <img class="slideshowPics" src="{{site.data.slideshowPics.4.path}}" alt="" />
        </md-tab-body>
    </md-tab>
</md-tabs>
