<!DOCTYPE html>
<html>
{% include head.html %}
<body ng-cloak ng-app="app">
    <div layout="row" layout-xs="column" ng-controller="appCtrl">
        <div class="" flex>
            {% include header.html %}

            <h1>{{site.title}}</h1>
            <md-title>This is title on angular_material</md-title>
            {{ content }}

            <h5>{{site.description}}</h5>

            {% include footer.html %}
        </div>
        {%include rightsidenav.html%}
    </div>
</body>
</html>
