<!DOCTYPE html>
<html>
{% include head.html %}
<body ng-cloak ng-app="app">
    <div layout="row" layout-xs="column" ng-controller="appCtrl">
        <div class="" flex>
            <!-- this is header render-->
            {% include header.html %}

            <!--this is body render-->
            <md-content>
                <md-card>
                    {{ content }}
                </md-card>
            </md-content>

            <!--this is footer render-->
            <md-card flex>
                {% include footer.html %}
            </md-card>
        </div>
        {%include rightSideNav.html %}
    </div>
    {% include jsLib.html %}
</body>

</html>
