---
layout: default
author: Tom Dinh
---
<div class="posttext">
<md-card>
  <h3>{{page.title}}</h3>
  <span class="post-meta">{{ page.date | date_to_string }} • {{ page.author }} • <a href="{{ post.url }}#disqus_thread">0 Comments</a></span>
  <div class="row" >
    {{ content }}
  </div>
  <md-divider></md-divider>
</md-card>
<!--this is sugeestion post render-->
{% include morePosts.html %}

<!--this is disqus render-->
{% if site.environment == 'production' %}
{% include disqus.html %}
{% endif %}
</div>
